#root {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: transparent;
    width: 99vw;
    height: 99vh;
}

.box {
    text-align: -webkit-center;
    height: 100%;
}

.card {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    width: 90vw;
    align-items: center;
}

.childCard {
    padding: 20px;
    text-align: center;
}


